[Unit]
Description="HashiCorp Consul - scheduler and orchestrator for managing containers"
Documentation=https://www.nomadproject.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ config_dir }}config.json

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ bin_dir }}nomad client -config-dir={{ config_dir }}
ExecReload={{ bin_dir }}nomad reload
KillMode=process
Restart=on-failure
RestartSec=42s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target